<% extend('../app')%>
	<!-- Title & Breadcrumbs-->
	<div class="row page-titles">
		<div class="col-md-12 align-self-center">
			<h4 class="theme-cl">View Solutions</h4>		
		</div>
	</div>
	<!-- Title & Breadcrumbs-->

	<% if(solutions.length > 0){%>
		<div style="display: flex; justify-content:flex-end; margin-bottom:1vh">	
			<div class="col-lg-3 col-md-6 col-sm-6">
				<input type="text" id="searchSolution" onkeyup="search('searchSolution','solutionTable')" id="searchDepartment" placeholder="Search accessory id..." class="form-control form-control-sm" >
	  		</div>
	  	</div>
	<%}%>

	<div class="col-lg-12">
      <%- include('../partials/messages')%>		
	</div>

	<div class="card">
		<% if (solutions.length > 0) { %>
		<div class="table-responsive">
			<table class="table table-striped table-hover" id="solutionTable">
				<thead>
					<tr>
						<th>Accessory</th>						
						<th>Department</th>						
						<th>User</th>
						<th>Action</th>
					</tr>
				</thead>
				
				<tbody>
					<% solutions.forEach((solu) => {%>
						<tr>
								<td><%= solu.accessories.id%></td>                        
							  	<td><%= solu.departments.department_name%></td>
							  	<td><%= solu.users.name || 'Unknown User'%></td>
								<td>
									<a class="solutionViewBtn" data-solution="<%= JSON.stringify(solu)%>" title="View" data-toggle="tooltip"><i class="ti-eye"></i></a>
									<% if(user.isAdmin == '1' || user_roles.role.edit_solution == '1' || solu.user == user.id){%>
										<a  class="solutionEditBtn" data-solution="<%= JSON.stringify(solu)%>" title="Edit" data-toggle="tooltip"><i class="ti-pencil-alt"></i></a>
									<% } %>
									<% if(user.isAdmin == '1' || user_roles.role.delete_solution == '1' || solu.user == user.id){%>
										<a class="delete solutionDeleteBtn" data-solution="<%= solu._id%>" title="Delete" data-toggle="tooltip"><i class="ti-trash"></i></a>
									<% } %>

								</td>
						</tr>										
					<%})%>

				</tbody>
			</table>
			<div class="flexbox padd-10">
				<div class="hint-text">Showing <%- page%> of <%- pages%> pages - <%- count%> total results</div>
				<ul class="pagination">
				   <% if(page > 1){%>
					<li class="page-item">
					  <a class="page-link" href="/department/view/page/<%- (page-1)%>" aria-label="Previous">
						<span aria-hidden="true">«</span>
						<span class="sr-only">Previous</span>
					  </a>
					</li>
				  <%}%>
				  <% if(page < pages){%>
					<li class="page-item">
					  <a class="page-link" href="/department/view/page/<%- (parseFloat(page)+1)%>" aria-label="Next">
						<span aria-hidden="true">»</span>
						<span class="sr-only">Next</span>
					  </a>
					</li>
				  <%}%>
				</ul>
			</div>
		</div>
		<%} else{%>
			<div class="alert alert-warning alert-dismissible fade show" role="alert">
			  Sorry, no solutions available
			</div>
		<%}%>
	</div>
	

	<%# view modal%>
	<div class="modal modal-box-1 fade" id="viewSolutionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
		 <div class="modal-dialog">
			<div class="modal-content" id="myModalLabel1">
				 <div class="modal-header theme-bg">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				 </div>
				<div class="modal-body">
					<h1>View Solution</h1>
					<form action="" method="POST" id="contactForm">
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label for="user">User</label>
									<input type="text" class="form-control solutionUser" disabled>
									<p class="help-block text-danger"></p>
								</div>
								<div class="form-group">
									<label for="Department">Department</label>
									<input type="text" class="form-control solutionDepartment" disabled>
									<p class="help-block text-danger"></p>
								</div>
								<div class="form-group">
									<label for="Accessory">Accessory</label>
									<input type="text" class="form-control solutionAccessory" disabled>
									<p class="help-block text-danger"></p>
								</div>
								<div class="form-group">
									<label class="form-label">Problem Description</label>
									<textarea class="form-control problemDescribe" disabled ></textarea>
								</div>
								<div class="form-group">
									<label class="form-label">Solution Description</label>
									<textarea disabled class="form-control solutionDescribe"></textarea>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>


	<%# edit modal%>
	<div class="modal modal-box-1 fade" id="editSolutionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
		 <div class="modal-dialog">
			<div class="modal-content" id="myModalLabel1">
				 <div class="modal-header theme-bg">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				 </div>
				<div class="modal-body">
					<h1>View Solution</h1>
					<form action="/solution/edit" method="POST" id="contactForm">
						<div class="row">
							<div class="col-md-12">
								<input type="hidden" class="form-control solutionUserAlter" name="user" required>
								<input type="hidden" class="form-control solutionIdAlter" name="id" required>
								<div class="form-group">
									<label class="form-label">Department</label>
									<select class="form-control solutionDepartmentAlter" id="solution_dept" name="department" required>
										<option value="default">Please Select...</option>
										<% if(departments.length > 0){ %>
											<% departments.forEach((dept) => { %>
												<option value="<%= dept._id%>"><%= dept.department_name%></option>
											<% }) %>
										<%}%>
									</select>
								</div>
								<div class="form-group">
									<label class="form-label">Accessory</label>
									<select required class="form-control solutionAccessoryAlter" id="outputAccessories" name="accessory">
										<option value="default">Please Select...</option>
									</select>
								</div>
								<div class="form-group">
									<label class="form-label">Problem Description</label>
									<textarea class="form-control problemDescribeAlter" name="problem_description" required></textarea>
								</div>
								<div class="form-group">
									<label class="form-label">Solution Description</label>
									<textarea required name="solution_description" class="form-control solutionDescribeAlter"></textarea>
								</div>
								<button class="btn btn-primary nextBtn btn-lg pull-right" type="submit" >Update</button>		
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>


	<%# delete modal%>
	<div class="modal modal-box-1 fade" id="deleteSolutionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
		 <div class="modal-dialog">
			<div class="modal-content" id="myModalLabel1">
				 <div class="modal-header theme-bg">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				 </div>
				<div class="modal-body">
					<h1>Remove Solution</h1>
					<p>Are you sure you want to delete this solution?</p>
					<div class="col-lg-12 text-center">
						<div id="success"></div>
						<a class="btn modal-btn btn-danger removeSolutionBtn">Remove</a>
						<a href="" class="btn modal-btn" data-dismiss="modal">No</a>
					</div>
				</div>
			</div>
		</div>
	</div>
